.link-disabled {
  color: black;
  cursor: wait;
  text-decoration: none;
}
.card {
  height: fit-content !important;
  width: fit-content !important;
}
.course-title {
  margin-right: auto;
}
.color {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: inline-block;
  border: 1px solid black;
  position: absolute;
}
.ghost {
  position: absolute;
  background-color: #f7f7f7;
}
.ghost-header {
  position: relative;
  box-sizing: border-box;
  height: 41px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}
.ghost-header::before, .ghost-header::after {
  content: "";
  position: absolute;
  height: 8px;
  background-color: rgba(0, 0, 0, 0.2);
}
.ghost-header::after {
  top: auto;
  background-color: rgba(0, 0, 0, 0.06);
}
.ghost-body {
  box-sizing: border-box;
  position: relative;
  height: 120px;
}
.ghost-body::before, .ghost-body::after {
  content: "";
  position: absolute;
  height: 16px;
  border-style: solid;
  border-width: 8px 0;
  border-color: rgba(0, 0, 0, 0.08);
}
.ghost-body::after {
  top: auto;
  bottom: 20px;
  right: 72px;
}
.shimmering {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translate3d(-100%, 0, 0);
  animation: slide 1.6s infinite;
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255,
    255, 0.6) 50%, rgba(255, 255, 255, 0) 99%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.6) 50%,
    rgba(255, 255, 255, 0) 99%, rgba(255, 255, 255, 0));
}
@keyframes slide {
  0% {
    transform: translateX(-5%);
  }
  100% {
    transform: translateX(5%);
  }
}
.available-icon {
  margin-left: 10px;
}
.add-course-form {
  margin-bottom: 40px;
}
.dashboard-mFooter {
  position: absolute;
  bottom: 0;
}
.dashboard-mBody {
  text-align: justify;
  height: 15rem;
  width: 15rem;
}
.dashboard-mContent {
  width: fit-content;
  height: fit-content;
}
.btn-add-course {
  top: 0;
}
.queue {
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 10px;
}
.queue-settings {
  float: right;
}
.list-group-item {
  text-align: left;
  height: auto;
}
.navbar-brand {
  margin-left: 1%;
}
.bg-dark {
  background-color: #24292e !important;
}
.navbar-collapse {
  margin-left: 1%;
}
.dropdown {
  position: absolute;
  right: 0;
}
.dropdown-menu {
  left: auto;
  right: 0;
}
.connect {
  padding-right: 1rem !important;
}
.img-homepage {
  height: 80vh;
  margin: auto;
}
.carousel-indicators {
  top: 0 !important;
}
.home-modal {
  width: auto;
  top: 25rem !important;
}
.home-mBody {
  text-align: justify;
  height: fit-content;
  width: fit-content;
}
.userInput {
  border-top: 0;
  border-left: 0;
  border-right: 0;
}
.userInput:focus {
  outline-width: 0;
  border-bottom-color: blue;
}
#login-tabs {
  border-style: solid;
  border-color: #63999C;
  border-width: 2px;
  font-size: 1.2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  letter-spacing: 0.5px;
}
.login-tab {
  width: 100%;
}
.login-tab-link {
  text-decoration: none;
  color: black;
}
.login-tab-selected {
  background-color: lightgray;
}
#login-tab-student {
  border-right: 2px #63999C;
  border-style: solid;
  border-top: none;
  border-bottom: none;
  border-left: none;
}
#login-tab-teacher {
  border-left: 2px #63999C;
  border-style: solid;
  border-top: none;
  border-bottom: none;
  border-right: none;
}
.breadcrumb-item {
  font-size: 1.25rem;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  margin-right: 1rem;
}
.breadcrumb-item a {
  color: black !important;
  text-decoration: none !important;
  font-weight: bold !important;
}
html, body {
  min-height: 100%;
}
body {
  background-color: #EBEDF0 !important;
}
#page-loader {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  display: none;
  text-align: center;
  width: 100%;
  padding-top: 25px;
  background-color: rgba(255, 255, 255, 0.7);
}
.breadcrumb {
  width: fit-content;
  position: relative !important;
}
.breadcrumb-item + .breadcrumb-item::before {
  content: "";
}
.disable-text-selection {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.dot-container {
  display: inline;
  position: relative;
}
.dot {
  height: 0.5rem;
  width: 0.5rem;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  right: 0rem;
  bottom: -0.5rem;
}
.button-as-link {
  background: none !important;
  border: none;
  padding: 0 !important;
  color: #0d6efd;
  text-decoration: underline;
  cursor: pointer;
  width: fit-content;
}
