<div class="mt-3 d-flex justify-content-end align-items-baseline">
    <div class="time-controls-container container">
        <div class="row mb-2">
            <div class="col col-2 justify-content-end d-flex">
                Repousser les rendez-vous
            </div>
            <!--
            <div class="col col-md-auto">
                <input class="me-0" name="" value style="max-width:3rem;"></input>
            </div>
            -->
            <div class="col">
                <form id="decrement-appointment-times-form" action="" method="post" class="d-inline">
                    <input name="decrementAppointmentTimes" class="d-none"></input>
                    <button type="submit" class="mt-2 ms-3 btn btn-secondary btn-sm" style="line-height:0px;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash" viewBox="0 0 16 16">
                            <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/>
                        </svg>
                    </button>
                </form>
                <form id="increment-appointment-times-form" action="" method="post" class="d-inline">
                    <input name="incrementAppointmentTimes" class="d-none"></input>
                    <button type="submit" class="mt-2 ms-1 btn btn-secondary btn-sm" style="line-height:0px;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                        </svg>
                    </button>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col col-2 justify-content-end d-flex">
                Espacer les rendez-vous
            </div>
            <!--
            <div class="col col-md-auto">
                <input class="me-0" name="" value style="max-width:3rem;"></input>
            </div>
            -->
            <div class="col">
                <form id="increase-appointment-duration-form" action="" method="post" class="d-inline">
                    <input name="decreaseAppointmentDuration" class="d-none"></input>
                    <button type="submit" class="mt-2 ms-3 btn btn-secondary btn-sm" style="line-height:0px;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash" viewBox="0 0 16 16">
                            <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/>
                        </svg>
                    </button>
                </form>
                <form id="decrease-appointment-duration-form" action="" method="post" class="d-inline">
                    <input name="increaseAppointmentDuration" class="d-none"></input>
                    <button type="submit" class="mt-2 ms-1 btn btn-secondary btn-sm" style="line-height:0px;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                        </svg>
                    </button>
                </form>
            </div>
        </div>
    </div>
    <div class="flex-fill"></div>



    <div class="ms-3 btn-group me-3">
        <button type="button" 
                class="btn btn-secondary dropdown-toggle" 
                data-toggle="dropdown" 
                data-target="#queue-menu-dropdown" 
                data-display="static"
                aria-haspopup="true" 
                aria-expanded="false" 
                id="queue-menu-button">La file est</button>
        <div class="dropdown-menu dropdown-menu-right" id="queue-menu-dropdown">
            <button id="close-queue-menu-button" data-toggle="dropdown" data-target="#queue-menu-dropdown" style="display:none;"></button>
            <div id="all-courses-queue-menu" class="ms-3 me-3" style="min-width:14rem;">
                <div class="d-flex justify-content-start">
                	Ouvert pour tous
                    <div class="flex-fill"></div>
                    <div class="form-check form-switch d-inline">
                        <form class="open-queue-form add-all-courses-id-to-id" action="" method="post" id="open-queue-form">
                            <input class="add-semester-id-to-value" name="semesterId" style="display:none;"></input>
                            <input class="add-all-courses-id-to-value" name="openQueueCourseId" style="display:none;"></input>
                            <input class="form-check-input aquiletour-checkbox add-all-courses-id-to-form add-all-courses-id-to-id" 
                                   id="is-queue-open-checkbox" 
                                   name="isQueueOpen" 
                                   type="checkbox" 
                                   form="open-queue-form"
                                   data-target="#queue-menu-dropdown">
                            <!--

                                   data-toggle="dropdown"
                                   data-target="#queue-menu-dropdown" -->
                        </form>
                    </div>
                </div>
                <div class="d-flex justify-content-start mt-3">
                    <div><a class="aquiletour-collapse" 
                            data-target="#permalink-container" 
                            href="#" 
                            role="button" 
                            aria-expanded="false" 
                            aria-controls="permalink-container">Lien à partager</a></div>
                    <!--
                    <div class="flex-fill"></div>
                    <div class="me-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard" viewBox="0 0 16 16">
                              <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
                                <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
                        </svg>
                    </div>
                    -->
                </div>
                <div class="collapse card block-click-events" id="permalink-container">
                    <div class="card-body">
                        <pre class="queue-permalink m-0 p-0"></pre>
                    </div>
                </div>
                <div class="d-flex justify-content-start mt-3">
                    <div><a id="upload-csv-link" 
                    		data-toggle="modal"
                    		data-target="#register-students-modal"
                    		href="">Inscrire des étudiant·es</a></div>
                </div>


                <!--
                <div class="d-flex justify-content-start mt-3">
                    <div><a id="download-course-log-link" href="" download>Télécharger l'historique</a></div>
                </div>
                -->

                <div class="mt-3 d-flex justify-content-start align-items-baseline">
                    <div>Message aux étudiant·es</div>
                    <div class="flex-fill"></div>
                    <div class="me-2" style="line-height:0px;" data-toggle="tooltip" data-placement="right" title="Message affiché à l'étudiant·e lors de la prise de rendez-vous. P.ex.  «SVP indiquer #eval pour vous faire évaluer»"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-question-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                            <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
                        </svg></div>
                </div>
                <form id="queue-message-form" action="" method="post">
                    <input class="add-active-semesters-id-to-value" name="semesterId" style="display:none;"></input>
                    <input class="add-all-courses-id-to-value" name="courseId" style="display:none;"></input>
                    <textarea name="queueMessage" class="queue-message-all-courses form-text" placeholder="" style="min-width:14rem;"></textarea>
                    <div class="mt-2 d-flex justify-content-end align-items-baseline">
                        <button onclick="$('#queue-message-form').submit()" class="btn btn-secondary btn-sm" style="line-height:16px">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-save" viewBox="0 0 16 16">
                                <path d="M2 1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H9.5a1 1 0 0 0-1 1v7.293l2.646-2.647a.5.5 0 0 1 .708.708l-3.5 3.5a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L7.5 9.293V2a2 2 0 0 1 2-2H14a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h2.5a.5.5 0 0 1 0 1H2z"/>
                            </svg> Sauvegarder
                        </button>
                    </div>
                </form>
            </div>
            <div id="queue-menu-courses-container">
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="register-students-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <form action="" method="post" id="add-group-form" enctype="multipart/form-data">
        <input class="add-semester-id-to-value" name="semesterId" style="display:none;"></input>
        <input class="add-course-id-to-value" name="courseId" style="display:none;"></input>
    </form>
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="register-students-modal-title">Inscrire des étudiant·es</h4>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!--
                    <ul class="nav nav-tabs mb-3" id="add-course-tabs" role="tablist">
                    <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#csv-file-tab" type="button" role="tab" aria-controls="home" aria-selected="true">Fichier .csv</button>
                    </li>
                    <li class="nav-item" role="presentation">
                    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Groupe personnalisé</button>
                    </li>
                    </ul>
                    <div class="tab-content">
                    <div class="tab-pane fade show active" id="csv-file-tab" role="tabpanel" aria-labelledby="home-tab">
                -->

                <div class="form-group row ms-3 me-3">
                    <label for="csvFile" class="mb-1">Fichier .csv de ColNet, p.ex. <i>4206APMO-000001.csv</i></label>
                    <input form="add-group-form" class="form-control" type="file" name="csvFile" id="csv-file-input"/><br>
                </div>
                </form>

                <!--
                    <div class="form-group row mb-2 mx-2">
                    <label for="code">Description</label>
                    <textarea  name="courseDescription" id="course-description-input"></textarea>
                    </div>
                -->
                    </div>
                    <!--
                        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="form-group row mb-3 mx-2">
                        <label for="copyCourse">Code du groupe</label>
                        <input form="add-group-form" name="copyCourse" id="copy-course-input"></input>
                        </div>
                        </div>
                        </div>
                    -->
                    <div class="modal-footer border-0 mt-3">         
                        <button form="add-group-form" type="submit" class="btn btn-primary" id="add-subtask-submit-button">Ajouter</button>  
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" id="close-modal-button">Annuler</button>          
                    </div>  
            </div>       
        </div>
    </div>
</div>
</div>



<div class="queue-menu-course-template ms-3 me-3" style="min-width:14rem;">
    <div class="mt-3 mb-3 dropdown-divider"></div>
    <div class="d-flex justify-content-start">
        <div class="queue-menu-course-title"></div>
        <div class="flex-fill"></div>
        <div class="form-check form-switch d-inline">
            <form class="add-course-id-to-id" action="" method="post" id="open-queue-form">
                <input class="add-semester-id-to-value" name="semesterId" style="display:none;"></input>
                <input class="add-course-id-to-value" name="openQueueCourseId" style="display:none;"></input>
                <input class="form-check-input aquiletour-checkbox add-course-id-to-form" name="ifQueueOpen" type="checkbox" form="open-queue-form">
            </form>
        </div>
    </div>
</div>

<div class="queue-menu-group-template">
    <div class="queue-menu-group-container ms-3 d-flex justify-content-start">
        Gr. <div class="queue-menu-group-id"></div>
        <div class="flex-fill"></div>
        <div class="form-check form-switch d-inline">
            <form class="add-course-id-to-id" action="" method="post" id="open-queue-form">
                <input class="add-semester-id-to-value" name="semesterId" style="display:none;"></input>
                <input class="add-course-id-to-value" name="openQueueCourseId" style="display:none;"></input>
                <input class="form-check-input aquiletour-checkbox add-course-id-to-form" name="ifQueueOpen" type="checkbox" form="open-queue-form">
            </form>
        </div>
    </div>
</div>


<!--
<div class="mt-3 d-flex justify-content-center">
    <div class="container">
        <div class="row">
            <div class="col">
                <h5>File ouverte</h5>
            </div>
            <div class="col">
                <h5>Prochain rendez-vous</h5>
            </div>
            <div class="col">
                <h5>Heure actuelle</h5>
            </div>
            <div class="col">
                <h5>Temps d'un rendez-vous</h5>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button class="btn btn-secondary">
                    Gérer l'accès
                </button>
            </div>
            <div class="col">
                <input class="me-0" name="" value style="max-width:6rem;"></input>
            </div>
            <div class="col">
                <h5>13:30</h5>
            </div>
            <div class="col">
                <input class="me-0" name="" value style="max-width:6rem;"></input>
            </div>
        </div>
        <div class="row">
            <div class="col">
            </div>
            <div class="col">
                <button class="mt-2 ms-3 btn btn-secondary btn-sm" style="line-height:0px;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash" viewBox="0 0 16 16">
                        <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/>
                    </svg>
                </button>
                <button class="mt-2 ms-1 btn btn-secondary btn-sm" style="line-height:0px;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                    </svg>
                </button>
            </div>
            <div class="col">
            </div>
            <div class="col">
                <button class="mt-2 ms-3 btn btn-secondary btn-sm" style="line-height:0px;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash" viewBox="0 0 16 16">
                        <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/>
                    </svg>
                </button>
                <button class="mt-2 ms-1 btn btn-secondary btn-sm" style="line-height:0px;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</div>
-->

<!--
    <div class="ms-3 card">
        <div class="card-header d-flex justify-content-center">
            <h5>File ouverte</h5>
        </div>
        <div class="card-body">
            <button class="btn btn-secondary">
                Gérer l'accès
            </button>
        </div>

    </div>
-->

<!--

<form class="mt-3 ms-3 me-3">
    <div class="d-flex justify-content-start">
        <div class="me-3">
            <div class="row">
                <div class="col">
                    Heure actuelle
                </div>
            </div>
            <div class="row">
                <div class="col no-gutters">
                    <div id="current-time">16:30</div>
                </div>
            </div>
        </div>
        <div class="me-3">
            <div class="row">
                <div class="col">
                    Prochain rendez-vous
                </div>
            </div>
            <div class="row">
                <div class="col no-gutters">
                    <input class="me-0" name="" value style="max-width:6rem;"></input>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button class="mt-2 ms-3 btn btn-secondary btn-sm" style="line-height:0px;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash" viewBox="0 0 16 16">
                            <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/>
                        </svg>
                    </button>
                    <button class="mt-2 ms-1 btn btn-secondary btn-sm" style="line-height:0px;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
        <div class="flex-fill"></div>
        <div class="ms-3">
            <div class="row">
                <div class="col">
                    Temps par rendez-vous
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <input name="" value style="max-width:6rem;"></input>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button class="mt-2 ms-3 btn btn-secondary btn-sm" style="line-height:0px;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash" viewBox="0 0 16 16">
                            <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/>
                        </svg>
                    </button>
                    <button class="mt-2 ms-1 btn btn-secondary btn-sm" style="line-height:0px;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>

-->


<div class="mt-5">&nbsp;</div>

<div class="container">
    <!--
        <div class="row">
        <div class="col col-md-auto">
        <div class="flex-fill" style="width:5rem;"></div>
        </div>
        <div class="col">
        <h3>Heure annoncée</h3>
        </div>
        <div class="col">
        <h3>Étudiant.e</h3>
        </div>
        <div class="col">
        <h3>Catégorie</h3>
        </div>
        <div class="col col-6">
        <h3>Question</h3>
        </div>
        <div class="col col-md-auto" style="width:5rem;">
        </div>
        </div>
    -->
    <ul class="appointment-list" id="appointment-list">
    </ul>
</div>


<!--
    <ul class="list-group queue mt-5" id="appointment-list" ></ul> -->





    <span style="display:none;" id="queue-id"></span>


    <div class="modal fade" 
         id="chat-modal" 
         tabindex="-1" 
         role="dialog" 
         aria-hidden="true">

        <div class="modal-dialog modal-dialog-centered" 
             role="document">

            <div class="modal-content">
                <div class="modal-header">
                    <h4 id="modal-title">Fil de discussion de l'Atelier1</h4>
                    <button class="btn-close" 
                            type="button" 
                            data-dismiss="modal" 
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <ul>
                        <li>On affiche directement le message de Bob</li>
                        <li>Mais aussi les autres messages</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

