<div>
    <div>
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
            <a href="#" class="navbar-brand ms-3" id="home-link">
                <img src="/_resources/img/loading.gif" id="logo-loading" width="30px">
                <img src="/_resources/img/logo.png" id="logo-image" width="30px">
            </a>
            <button class="navbar-toggler me-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMenu" aria-controls="navbarMenu">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse ms-0" id="navbarMenu">
                <ul class="nav navbar-nav navbar-left">
                    <li class="nav-item">
                        <a href="#" class="nav-link" id="dashboard-link">Tableau de bord</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link ms-1" id="course-list-link">Mes cours</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link ms-1" id="queue-link">File d'attente</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link ms-1" id="queue-list-link">Profs disponibles</a>
                    </li>
                </ul>

                <div class="flex-fill"></div>

                <ul class="nav navbar-nav navbar-right">
                    <li class="nav-item">
                        <a href="#" class="nav-link ms-1" id="group-list-link">Mes groupes</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link ms-1" id="calendar-list-link">Planifier une session</a>
                    </li>
                    <!--
                        <li class="nav-item ms-1">
                        <a href="#" class="nav-link connect" id="login-link">Connexion</a>
                        </li>
                    -->
                </ul>

                <ul class="nav navbar-nav navbar-right me-2">
                    <li class="nav-item ms-1" id="login-container">
                        <div class="btn-group">
                            <button type="button" 
                                    class="btn btn-secondary dropdown-toggle" 
                                    data-toggle="dropdown"
                                    data-target="#login-dropdown"
                                    data-display="static"
                                    aria-haspopup="true" 
                                    aria-expanded="false" 
                                    id="login-button">Connexion</button>
                            <div class="p-3 dropdown-menu dropdown-menu-right" id="login-dropdown">
                                <div class="d-flex alert alert-info" id="login-menu-message" role="alert">
                                    <span class="flex-fill"></span>
                                    <span id="login-menu-message-text"></span>
                                    <span class="flex-fill"></span>
                                    <!--<button class="btn btn-close" type="button" class="close" data-dismiss="alert" data-target="#login-menu-message" aria-label="Close"></button>-->
                                </div>
                                <div id="login-menu-enter-id">
                                    <div id="login-tabs" class="d-flex justify-content-around disable-text-selection">
                                        <div class="login-tab login-tab-selected" id="login-tab-student">
                                            <a class="login-tab-link"
                                               role="button" 
                                               data-toggle="collapse"
                                               data-target="#student-login-collapse">
                                                <div class="d-flex justify-content-center">
                                                    <div class="ms-2 me-2">Étudiant.e</div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="login-tab" id="login-tab-teacher">
                                            <a class="login-tab-link" 
                                               role="button" 
                                               data-toggle="collapse"
                                               data-target="#teacher-login-collapse">
                                                <div class="d-flex justify-content-center">
                                                    <div class="ms-2 me-2">Prof</div>
                                                </div></a>
                                        </div>
                                    </div>
                                    <form action="" method="post" class="login-form">
                                        <input name="delayedMessages" class="add-delayed-messages-to-value" style="display:none;"></input>
                                        <div class="collapse show" id="student-login-collapse">
                                            <div class="form-group row mb-3 mx-2">
                                                <label for="studentId">No de DA</label>
                                                <div class="d-flex align-items-center">
                                                    <div class="me-1">20</div>
                                                    <input class="form-text" name="studentId"></input>
                                                </div>
                                            </div>
                                            <!--
                                                <label for="Password">Mot de passe</label>
                                                <input class="userInput" name="password"></input>
                                            -->
                                        </div>
                                        <div class="collapse" id="teacher-login-collapse">
                                            <div class="form-group row mb-3 mx-2">
                                                <label id="userRole" for="teacherId">Courriel</label>
                                                <div class="d-flex align-items-center">
                                                    <input class="form-text" name="teacherId"></input>
                                                    <div class="me-1">@cmontmorency.qc.ca</div>
                                                </div>
                                            </div>
                                            <!--
                                                <label for="Password">Mot de passe</label>
                                                <input class="userInput" name="password"></input>
                                            -->
                                        </div>
                                        <div class="d-flex justify-content-end">
                                            <input type="submit" name="loginStep01" class="mt-3 me-3 btn btn-primary" value="Se connecter"></input>
                                        </div>
                                    </form>
                                    <!--
                                        <div id="role-container" class="role-container">
                                        <a role="button" id="roleStudent">Étudiant</a>
                                        <a role="button" id="roleTeacher">Employé</a>
                                        </div>
                                        <div class="login-container">
                                        </div>
                                    -->
                                </div>
                                <div id="login-menu-enter-password">
                                    <form action="" method="post">
                                        <input name="delayedMessages" class="add-delayed-messages-to-value" style="display:none;"></input>
                                        <input name="user"  class="add-user-id-to-value" style="display:none;"></input>
                                        <div class="form-group row mb-3 mx-2">
                                            <label for="password">Mot de passe</label>
                                            <input type="password" name="password" id="login-input-password"></input>
                                        </div>
                                        <div class="d-flex justify-content-end">
                                            <button class="mt-3 me-3 btn btn-primary" id="login-button-password">Se connecter</button>
                                        </div>
                                    </form>
                                    <div class="d-flex me-3 justify-content-end">
                                        <div class="mt-2">
                                            <form action="" method="post" id="its-not-me-form">
                                                <input name="itsNotMe" style="display:none;"></input>
                                                <input name="delayedMessages" class="add-delayed-messages-to-value" style="display:none;"></input>
                                                <button class="logout-link button-as-link" id="its-not-me-link" form="its-not-me-form">(ce n'est pas moi)</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div id="login-menu-enter-code">
                                    <form action="" method="post">
                                        <input name="delayedMessages" class="add-delayed-messages-to-value" style="display:none;"></input>
                                        <div class="login-menu-name-container">
                                            <div class="form-group row mb-3 mx-2">
                                                <label for="firstName">Prénom</label>
                                                <input name="firstName"></input>
                                            </div>
                                            <div class="form-group row mb-3 mx-2">
                                                <label for="lastName">Nom de famille</label>
                                                <input name="lastName"></input>
                                            </div>
                                        </div>
                                        <div class="form-group row mb-3 mx-2">
                                            <label for="loginCode">Code reçu par courriel</label>
                                            <input name="loginCode" id="login-input-step2"></input>
                                        </div>
                                        <div class="d-flex justify-content-end">
                                            <button class="mt-3 me-3 btn btn-primary" id="login-button-step2">Valider mon identité</button>
                                        </div>
                                        <div class="d-flex me-3 justify-content-end">
                                            <div class="mt-2">
                                                <button href="" class="logout-link button-as-link" id="its-not-me-link" form="its-not-me-form">(ce n'est pas moi)</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div id="login-menu-add-password">
                                    <form action="" method="post">
                                        <input name="user"  class="add-user-id-to-value" style="display:none;"></input>
                                        <div class="form-group row mb-3 mx-2" id="current-password-container">
                                            <label for="currentPassword" style="min-width:12rem;">Mot de passe actuel</label>
                                            <input type="password" name="currentPassword" id="current-password-input" autocomplete="off"></input>
                                        </div>
                                        <div class="form-group row mb-3 mx-2">
                                            <label for="newPasswordA" style="min-width:12rem;">Nouveau mot de passe</label>
                                            <input type="password" name="newPasswordA" id="password-a-input"></input>
                                        </div>
                                        <div class="form-group row mb-3 mx-2">
                                            <label for="newPasswordB" style="min-width:14rem;">Répéter le mot de passe</label>
                                            <input type="password" name="newPasswordB" id="password-b-input"></input>
                                        </div>
                                        <div class="d-flex justify-content-end">
                                            <button class="mt-3 me-3 btn btn-secondary" id="modify-password-button">Modifier mon mot de passe</button>
                                        </div>
                                    </form>
                                    <div class="d-flex me-3 justify-content-end">
                                        <div class="mt-2">
                                            <form action="" method="post" id="close-password-menu-form">
                                                <input name="closePasswordMenu" style="display:none;"></input>
                                                <button class="logout-link button-as-link" id="close-password-menu-link" form="close-password-menu-form">(plus tard)</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div id="login-menu-user-profile">
                                    <div id="user-name-container">
                                        <form action="" method="post" class="px-4 py-3">
                                            <div class="row">
                                                <input name="userName" value="" id="user-name-input"></input>
                                                <button type="submit" class="btn btn-secondary btn-sm">Modifier</button>
                                            </div>
                                        </form>
                                    </div>
                                    <form action="" method="post" id="show-password-menu-form">
                                        <input name="showPasswordMenu" style="display:none;"></input>
                                        <button class="dropdown-item" id="show-password-menu-link" form="show-password-menu-form" style="min-width:14rem;">Ajouter un mot de passe</button>
                                    </form>
                                    <form action="" method="post" id="logout-form">
                                        <input name="logout" style="display:none;"></input>
                                        <button class="dropdown-item" form="logout-form" style="min-width:14rem;">Déconnexion</button>
                                    </form>
                                    <div class="d-flex justify-content-end" id="toggle-student-mode-container">
                                        <form action="" method="post" class="mt-3 me-3">
                                            <input name="toggleStudentMode" style="display:none;"></input>
                                            <button type="submit" class="btn btn-secondary btn-sm" id="toggle-student-mode-button">Mode étudiant</button>
                                        </form>
                                    </div>
                                    <!--
                                    <div class="d-flex justify-content-end" id="toggle-admin-mode-container">
                                        <form action="" method="post" class="mt-3 me-3">
                                            <input name="toggleAdminMode" style="display:none;"></input>
                                            <button type="submit" class="btn btn-danger btn-sm" id="toggle-admin-mode-button">Mode admin</button>
                                        </form>
                                    </div>
                                    -->
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <!--
        <div class="d-flex justify-content-center">
        <div class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
        <strong class="mr-auto">Bootstrap</strong>
        <small>11 mins ago</small>
        <button type="button" class="ml-2 mb-1 close btn btn-secondary btn-sm" data-dismiss="toast" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="toast-body">
        Hello, world! This is a toast message.
        </div>
        </div>
        </div>
    -->



    <div class="d-flex alert alert-danger align-items-center" role="alert" id="alert-danger">
        <span class="flex-fill"></span>
        <span class="message-text"></span>
        <span class="flex-fill"></span>
        <button class="btn btn-close" type="button" class="close" data-dismiss="alert" data-target="#alert-danger" aria-label="Close">
        </button>
    </div>


    <!--
        <div class="toast" 
        id="test-toast"
        role="alert" 
        aria-live="assertive" 
        aria-atomic="true" 
        data-autohide="false">
        <div class="toast-header">
        <img src="..." class="rounded mr-2" alt="...">
        <strong class="mr-auto">Bootstrap</strong>
        <small>11 mins ago</small>
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="toast-body">
        Hello, world! This is a toast message.
        </div>
        </div>
    -->



    <div id="page-container">
    </div>

    <div class="d-flex alert alert-primary align-items-center" role="alert" id="alert-primary" style="position:absolute; bottom:0px;">
        <span class="flex-fill"></span>
        <span class="message-text"></span>
        <span class="flex-fill"></span>
        <button class="btn btn-close" type="button" class="close" data-hide="alert" data-target="#alert-primary" aria-label="Close">
        </button>
    </div>
</div>

<audio id="notification-sound" style="display:none;" src="/_resources/wav/notif.wav" type="audio/wav" controls="false"/>
